<launch>
 <!-- separate startup for just robot python node for debugging -->
    <node pkg="Turner25" 
    	  name="SendCommandRobot" 
	  type="turner_commands.py"
	  launch-prefix="nice -n 10  xterm -bg yellow -fg black -geometry 64x16+200+500 -title 'SendCommandRobot Debug Info' -e"
	  >
    	<remap from="velCmd" to="Velocity"/>
    </node>

<!--  ***** set  robot run time  *************      -->
    <node pkg="rostopic" name="RunTimeSet" type="rostopic" 
          args="pub -r 0.1 RunTime std_msgs/Float32 2.0" 
	  launch-prefix="nice -n 10 xterm -bg white -fg purple -geometry 64x8+175+475 -title 'rostopic RunTime' -e"
	  >
    	<remap from="TurnTurtle/pose" to="turtle1/pose"/>
    </node>


 <!-- **************** monitor robot state output ************** -->

<!-- monitor optitrack/pose -->
    <node pkg="rostopic" name="rostopic_robotState" type="rostopic" 
          args="echo /robotState" 
	  launch-prefix="nice -n 10 xterm -bg black -fg yellow -geometry 64x16+400+350 -title 'rostopic_4 robotState' -e"
	  >
    </node>

<!-- monitor optitrack/pose -->
    <node pkg="rostopic" name="rostopic_robotGyro" type="rostopic" 
          args="echo /robotGyro" 
	  launch-prefix="nice -n 10 xterm -bg black -fg orange -geometry 64x16+450+400 -title 'rostopic_5 robotGyro' -e"
	  >
    </node>
    

</launch>